extends layout

block content
  h1= title
  ol
    each record in records
      li
        a(href='view/' + record.id)
          = record.fields._productName?record.fields._productName:record.fields.version + ' ' + record.fields.platform +' ' + record.time.toLocaleString()
