extends layout

block content
  h1= title
  ol
    each record in records
      li
        div(style='display:inline')
          a(href='view/' + record.id)
            = (record.fields._productName?record.fields._productName:record.fields.version) + ' ' + record.fields.platform +' ' + record.time.toLocaleString()
          p(style='display:inline')
            = ' '
          a(href='download/' + record.id)
            = '  下载'